@page "/doglistings"

@using CanineConnect.Data
@using Models
@using Microsoft.EntityFrameworkCore
@using StateObjects

@inject IDbContextFactory<CanineConnectContext> DbContextFactory
@inject State state

<style>
        div.card:hover {
            border: 1px solid #777;
        }

        div.card img {
            width: 100%;
            height: auto;
        }

    div.card {
        padding: 15px;
        text-align: center;
    }
</style>

@if (state.IsUser() && @state.IsShelter())
{
    <div style="padding-top: 20px;padding-right: 20px; float: right">
        <a class="btn btn-forestgreen p-2" style="font-size: 1.5rem;" href="/doglistings/index">My Dogs</a>
    </div>
}

<br />
<h2 class="text-success text-center mb-2">Dog Gallery</h2>

<div class="container-fluid mt-1">
    <div class="row row-cols-1 row-cols-md-3">

        @if (_dogs.Count != 0)
        {
            @foreach (var dog in _dogs)
            {
                <div class="col">
                    <div class="card mb-4 d-flex position-relative">
                        <div class="card-header">
                            <h4 class="card-title">@dog.Name</h4>
                        </div>

                        <div class="card-body">
                            <ul>
                                <li><strong class="text-forestgreen">Gender: </strong>@dog.Sex</li>
                                <li><strong class="text-forestgreen">Weight: </strong>@dog.Weight lbs</li>
                                <li><strong class="text-forestgreen">Breed: </strong>@dog.Breed</li>
                                <li><strong class="text-forestgreen">Birthdate: </strong>@dog.Age.ToString("MMMM dd yyyy")</li>
                                <li>
                                    <strong class="text-forestgreen">Host Shelter: </strong>
                                    <a href="/profile/shelter/@dog.ShelterId.ToString()">@dog.Shelter?.ShelterName</a>
                                </li>
                                <li><strong class="text-forestgreen">Description: </strong>@dog.Description</li>
                            </ul>

                            @if (dog.ThumbnailImage is not null)
                            {
                                <img class="card-img" src="data:image;base64,@System.Convert.ToBase64String(dog.ThumbnailImage)" />
                            }

                            <a class="stretched-link" href="/doglistings/@dog.Id"></a>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<br />

@code {
    private List<DogListing> _dogs = new List<DogListing>();

    protected override async Task OnInitializedAsync()
    {
        using (var context = await DbContextFactory.CreateDbContextAsync())
        {
            _dogs = await context.DogListing
                .Include(e => e.Shelter)
                .ToListAsync();
        }

        await base.OnInitializedAsync();
    }
}